@model XP_Scrum_Grupp2.Controllers.PostIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/logo1.png" height="150" width="450" />
    <p class="lead">An information system for teachers in Informatics</p>

</div>


<table class="table">

    <h4> <b>View some of the latest posts in the formalblog below:</b></h4>
    @foreach (var item in Model.FormalBlogs.Reverse().Take(3))
    {
        <tr>
            <td>
                <p>
                    <span style="font-size: 100%"> <b>@Html.DisplayFor(modelItem => item.Author.Firstname) @Html.DisplayFor(modelItem => item.Author.Lastname): </b> </span>
                    <span style="float: right; color: gray"> @Html.DisplayFor(modelItem => item.Date) <br /> Category: @Html.DisplayFor(modelItem => item.CategoryN.Type) </span>
                    <br />
                    @Html.DisplayFor(modelItem => item.Text)
                    <br />
                    @Html.ActionLink("View post", "RedirectToPost", "Home", new { @style = "color:blue;" })

                </p>
              
                <a href="Download?id=@item.Id" download="@item.Filename">@Html.DisplayFor(modelItem => item.Filename)</a>

            </td>


            <td></td>
        </tr>
    }

</table>

<br />
<hr style="height:2px;border:groove;color:#f00;background-color:#333;" />
<br />

<h4> <b>Recently added meetings</b></h4>
<br />
<table class="table">
    @foreach (var item in Model.Meetings.Reverse().Take(3))
    {
        <tr>
            <td>
                <p>
                    <b>  @Html.DisplayFor(modelItem => item.Title) </b> @*lägg till en actionlink så att användaren kan gå vidare till mötet*@ 
                </p>
            </td>
            <td></td>
        </tr>
    }

</table>

