@using Microsoft.AspNet.Identity
@using XP_Scrum_Grupp2.Models


@if (Request.IsAuthenticated)
{
        var db = new ApplicationDbContext();
        var currentUser = User.Identity.Name;
        var user = db.Users.Where(u => u.UserName == currentUser).SingleOrDefault();
    

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

    @if (user != null)
    {
        if (user.Admin == true)
        {
            <li>@Html.ActionLink("Register new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
    }


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blogs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="~/Blog/ShowBlogs"> Formal blog</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="~/InformalBlogNY/ShowInformalBlogs">Informal blog</a>
        </div>
    </li>
    <li>@Html.ActionLink("Education", "Index", "EducationNY")</li>
    <li>@Html.ActionLink("Research", "Index", "Research")</li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meetings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="~/Meeting/CreateMeeting"> Create meeting</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="~/Meeting/MeetingRequests">Meeting requests</a>
        </div>
    </li>
    @*<li>@Html.ActionLink("Create meeting", "CreateMeeting", "Meeting")</li>*@
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Calendar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="~/Calendar/ShowCalendar">Public calendar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="~/Calendar/ShowPersonalCalendar">Private calendar</a>
        </div>
    </li>


    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
