@model XP_Scrum_Grupp2.Models.Meeting

@{
    ViewBag.Title = "CreateMeeting";
}

<h2>Create Meeting</h2>

@using (Html.BeginForm("AddTempTime", "Meeting", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Start, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Start, new { @class = "form-control datepicker", @id = "datetimepicker1" })
            @Html.ValidationMessageFor(m => m.Start, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Add time" onclick="location.href='@Html.ActionLink("AddTempTime", "Meeting", new { meeting = Model })'" />
}

@if (Model != null)
{
    foreach (var item in Model.Times)
    {
        @Html.DisplayFor(modelItem => item)
    }
}


@using (Html.BeginForm("CreateAMeeting", "Meeting", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Minutes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Minutes, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Minutes, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" onclick="location.href='@Html.ActionLink("CreateAMeeting", "Meeting", new { meeting = Model })'" />
        </div>
    </div>

}

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
        $('#datetimepicker2').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
    });
</script>
@*<script>
        $("#myLink").click(function (e) {

            e.preventDefault();
            $.ajax({

                url: $(this).attr("href"), // comma here instead of semicolon
                success: function () {
                    alert("Time added");  // or any other indication if you want to show
                }

            });

        });
    </script>*@




@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            $("#TimeButton").click(function (e) {

                e.preventDefault();
                $.ajax({

                    url: $(this).attr("href"), // comma here instead of semicolon
                    success: function () {

                    }

                });

            });
        </script>
    }*@