@model XP_Scrum_Grupp2.Models.MeetingPeopleViewModel

@{
    ViewBag.Title = "CreateMeeting";
}

<h2>Create Meeting</h2>

@using (Html.BeginForm("CreateAMeeting", "Meeting", new { meeting = Model }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Meeting.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Meeting.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Meeting.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Meeting.Start, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Meeting.Start, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Meeting.Start, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Meeting.End, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Meeting.End, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Meeting.End, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}


<h3>Search people:</h3>
<br />
@using (Html.BeginForm("SearchPeople", "Meeting", FormMethod.Post))
{

    <div>
        <input type="text" id="txt" name="txt" />
        <input type="submit" name="search" value="Search" />
    </div>

}
<br />


@if (Model.ApplicationUsers != null)
{
    foreach (var item in Model.ApplicationUsers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                <input type="button" value="Add" onclick="location.href='@Url.Action("AddPersons", "Meeting" , new { id = item.Id })'" />
            </td>

        </tr>
        <br />
    }

}

