@model XP_Scrum_Grupp2.Controllers.MeetingInvitedModelTest
<br />
<div id="center" style="margin-left:31%">
    <h4 style="margin-left:12%">Received meeting requests</h4>
    <br />

    @if (Model.Metinv.Any())
    {
        foreach (var meetreq in Model.Metinv)
        {
            <ul class="list-group" style="margin-bottom:-5px; max-width: 50%;">
                <li class="list-group-item" style="background-color: lightgrey; text-align:center">
                    <p style="text-align:center"><b>Meeting:</b> @meetreq.Meeting.Title</p><br /><p style="text-align:center"> <b>Creator:</b> @meetreq.Meeting.Creator.Firstname @meetreq.Meeting.Creator.Lastname</p>
                </li>
            </ul>
            <div style="text-align:center" id="@string.Format("{0}_{1}", "timesBlock", meetreq.Id)">
            </div>
        }
    }
    else
    {
        <br />
        <p> You haven't received any meeting requests.</p>
    }
</div>

<script>
    $(document).ready(function () {
        var i;
        var id;
        for (i = 1; i <@Model.Metinv.Count + 1; i++) {
            id = i;
            fetch(id);
        }
        function fetch(id) {
            var allTimesArea = $('<div>').addClass('allTimes_' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RequestedTimes", "Meeting")',
                data: { meetreq: id },
                success: function (response) {
                    if ($('div').hasClass('allComments_' + id + '')) {
                        $('div[class=allTimes_' + id + ']').remove();
                    }
                    allTimesArea.html(response);
                    allTimesArea.prependTo('#timesBlock_' + id);
                },
                error: function (response) {
                    alert("failed");
                }
            });
        }

    });

</script>
