@model XP_Scrum_Grupp2.Controllers.PictureIndexViewModel

<h2>Informal blog</h2>
@Html.Partial("CreateInformalPartial", Model)
    @foreach (var item in Model.InformalBlogs.Reverse())
    {
    <div class="row" style="width: 100.3%; border-radius:4px; border-style: double; border-color: darkblue; padding: 1em;">
        <p>
            <span style="font-size: 160%"> <b>@Html.DisplayFor(modelItem => item.Author.Firstname) @Html.DisplayFor(modelItem => item.Author.Lastname): </b> </span>
            <span style="float: right; color: gray"> @Html.DisplayFor(modelItem => item.Date) <br /> </span>
        </p>
        <p style="font-size: 135%">
            @Html.DisplayFor(modelItem => item.Text)
        </p>
        @if (item.Filename != null)
        {
            <a href="Download?id=@item.Id" download="@item.Filename">@Html.DisplayFor(modelItem => item.Filename)</a>
        }
        else
        {
            <img src="~/Content/vitbild.jpg" />
        }
        @if (item.File != null)
        {
            <p><img src="@Url.Action("Image", new { id = item.Id })" /></p>
        }
        else
        {
            <img src="~/Content/vitbild.jpg" />
        }
    </div>
    }