@model XP_Scrum_Grupp2.Controllers.ResearchIndexViewModel
@using XP_Scrum_Grupp2.Models

<div class="jumbotron">
    <img src="~/Content/logo1.png" height="150" width="450" />
</div>
<br />
@if (Request.IsAuthenticated)
{
    var db = new ApplicationDbContext();
    var currentUser = User.Identity.Name;
    var user = db.Users.Where(u => u.UserName == currentUser).SingleOrDefault();
    @Html.AntiForgeryToken()

    if (user != null)
    {
        if (user.ResearchAdmin == true)
        {
        @Html.Partial("ResearchPartial", Model){


            }
        }
    }

<p>Research feed</p>

        foreach (var item in Model.ResearchBlog.Reverse())
        {
            <div class="row" style="width: 100.3%; border-radius:4px; border-style: double; border-color: darkblue; padding: 1em;">
                <p>
                    <span style="font-size: 160%"> <b>@Html.DisplayFor(modelItem => item.Author.Firstname) @Html.DisplayFor(modelItem => item.Author.Lastname): </b> </span>
                    <span style="float: right; color: gray"> @Html.DisplayFor(modelItem => item.Date) <br /> </span>
                </p>
                <p style="font-size: 135%">
                    @Html.DisplayFor(modelItem => item.Text)
                </p>
                </div>
        }
}

