@model XP_Scrum_Grupp2.Controllers.PostIndexViewModel


@using (Html.BeginForm("Comment", "Blog", new { formal = Model }, FormMethod.Post,  new { id = Model.Id }))
{

    <div class="comment-form-container">
        <form class="comment-form" data-action="@Url.Action("Comment", "Blog")">
            @Html.HiddenFor(m => m.Id)

            <div>@Html.DisplayFor(m => m.UserName)</div>
            <div>
                <div>@Html.LabelFor(m => m.Text)</div>
                @Html.TextAreaFor(m => m.Text, new { Class = "comment-text", rows = "3", cols = "50" })
            </div>
            <div class="comment-result" style="display: none;">
                <span class="comment-result-text">An error occurred</span>
            </div>
            <div>
                <button type="submit" class="comment-form-submit">Submit comment</button>
            </div>
        </form>
    </div>
}