@model XP_Scrum_Grupp2.Controllers.PostIndexViewModel

@using (Html.BeginForm("Create", "Blog", new { formal = Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Post something below!</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
             @Html.Label("Text", new { htmlAttributes = new { @class = "control-label col-md-2" } })
    <br />
   
             @Html.EditorFor(model => model.NewFormalBlog.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewFormalBlog.Text, "", new { @class = "text-danger" })
  

             @Html.Label("Categories", new { htmlAttributes = new { @class = "control-label col-md-2" } })
    <br />


             @Html.EditorFor(model => model.NewCategory.Type, new { htmlAttributes = new { @class = "form-control" }, Model.SelectedCategories })
                @Html.ValidationMessageFor(model => model.NewCategory.Type, "", new { @class = "text-danger" })
    <br />
    @Html.ListBoxFor(m => m.SelectedCategories, Model.Cats, new { size = 10, @class = "ListBoxClass" })
    <br />
    <br>

    @Html.EditorFor(model => model.NewFormalBlog.File, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.NewFormalBlog.File, "", new { @class = "text-danger" })
   
     <input type="file" name="upload" />
        <input type="submit" value="Create" class="btn btn-default" />
    </div>

    <br />
        <br />
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
        <br />
    @*</div>*@
@*</div>*@
    @*<select id="listboxname" name="listboxName" multiple="multiple">
        @foreach(var item in Model.Categories)
        {
            <option value=@item.Id>@item.Type</option>
        }
    </select>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $(".ListBoxClass option").click(function () {
            if ($(this).is(':selected')) {
                var selectedId = $(this).val();
                var selectedText = $(this).text();
                $('.txtItem').val(selectedText);

                alert("hej");
                //var _this = $(this);
                //$("#txtItem")
            } else {
                alert("fail");
            }
        });
    });
    
    </script>
}
