@model XP_Scrum_Grupp2.Controllers.PostIndexViewModel

@{
    ViewBag.Title = "ShowBlogs";
}


<h2>FormalBlog</h2>
<br />
@Html.Partial("CreatePartial")


<table class="table">
    @*<tr>
    
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Text)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Date)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.File)
        </th>
        <th></th>


    </tr>*@

    @foreach (var item in Model.FormalBlogs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Firstname) @Html.DisplayFor(modelItem => item.Author.Lastname): @Html.DisplayFor(modelItem => item.Date): @Html.DisplayFor(modelItem => item.Text) :  <input type="button" value=" @Html.DisplayFor(modelItem => item.Filename)" class="btn btn-default" onclick="Download" />  
            </td>

            <td></td>
        </tr>
    }
</table>

