@model XP_Scrum_Grupp2.Controllers.PostIndexViewModel

@{
    ViewBag.Title = "ShowBlogs";
}


<h2>FormalBlog</h2>
<br />
@Html.Partial("CreatePartial", Model.NewFormalBlog)


<table class="table">

    @foreach (var item in Model.FormalBlogs)
    {
        <tr>
            <td>
                <p>  @Html.DisplayFor(modelItem => item.Author.Firstname) @Html.DisplayFor(modelItem => item.Author.Lastname) skrev den @Html.DisplayFor(modelItem => item.Date)</p>
                <p>
                    @Html.DisplayFor(modelItem => item.Text)
                </p>


                <a href="Download?id=@item.Id" download="@item.Filename">@Html.DisplayFor(modelItem => item.Filename)</a>

            </td>


            <td></td>
        </tr>
    }
</table>

