@model XP_Scrum_Grupp2.Controllers.PostIndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ShowBlogs";
}
<h2>Formell blogg</h2>
<br />
@Html.Partial("CreatePartial", Model)
@foreach (var post in Model.FormalBlogs.Reverse())
{
    <div class="row" style="width: 100.3%; border-radius:4px; border-style: double; border-color: darkblue; padding: 1em;">

                 <p> 
                 <span style="font-size: 160%"> <b>@Html.DisplayFor(modelItem => post.Author.Firstname) @Html.DisplayFor(modelItem => post.Author.Lastname): </b> </span> 
                 <span style="float: right; color: gray"> @Html.DisplayFor(modelItem => post.Date) <br /> Category: @Html.DisplayFor(modelItem => post.CategoryN.Type) </span>
                 
                 </p>


                <p style="font-size: 135%">
                    @Html.DisplayFor(modelItem => post.Text)
                </p>
                @if (post.Filename != null)
    {
            <a href="Download?id=@post.Id" download="@post.Filename">@Html.DisplayFor(modelItem => post.Filename)</a>
}
else
{
            <img src="~/Content/vitbild.jpg" />
}
                @if (post.File != null)
    {
            <p><img src="@Url.Action("Image", new { id = post.Id})" /></p>
}
else
{
            <img src="~/Content/vitbild.jpg" />
}
</div>
    <div id="@string.Format("{0}_{1}", "commentsBlock", post.Id)">
        <div class="AddComment" style="margin-left: 5%; padding: 1em">
            <input type="text" id="@string.Format("{0}_{1}", "comment", post.Id)" style="display: inline;" class="form-control" placeholder="Add a Comment ..." /> 
            <button type="button" class="btn btn-default addComment" data-id="@post.Id"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
            <br/>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        var i;
        for (i = 0; i < 3; i++) {
            var id = i;
            fetch(id);
        }
        //var id = $('.addComment').attr("data-id");
        function fetch(id) {
            var allCommentsArea = $('<div>').addClass('allComments_' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetComments", "Comment")',
                data: { postId: id },
                success: function (response) {
                    if ($('div').hasClass('allComments_' + id + '')) {
                        $('div[class=allComments_' + id + ']').remove();
                    }
                    allCommentsArea.html(response);
                    allCommentsArea.prependTo('#commentsBlock_' + id);
                },
                error: function (response) {
                }
            })
        }
    //Add New Comment
    $('.addComment').on('click', function () {

    var postId = $(this).attr('data-id');
    var Text = $('#comment_' + postId).val();
    var dateTimeNow = new Date();
    var userId = "@User.Identity.GetUserId()";
    var comment = {
    Text: Text,
    Date: dateTimeNow.toLocaleString(),
    CommentedById: userId
    };
    $.ajax({
    type: 'POST',
    url: '@Url.Action("AddComment", "Comment")',
    data: { comment, postId },
    success: function (response) {
        $('#comment_' + postId).val("");
    $('div[class=allComments_' + postId + ']').remove();

    var allCommentsArea = $('<div>').addClass('allComments_' + postId);
        allCommentsArea.html(response);
        allCommentsArea.prependTo('#commentsBlock_' + postId);
        },
        error: function (response) {
        alert('Sorry: Something Wrong');
        }
        });
        });
        });
</script>

